%html
  %head
    %link{ href: "style.css", rel: "stylesheet" }
    %link{ href: "pring.css", rel: "stylesheet", media: "print" }
    %link{ href: "https://fonts.googleapis.com/css?family=Montserrat", rel: "stylesheet" }
  %body
    %section
      %article
        %header
          %h1
            = @profile["First Name"]
            = @profile["Last Name"]
            %small= @profile["Headline"]
          %p.contact
            .address
              Quechee, Vt

            %a{href:"mailto:#{@primary_email}"}= @primary_email
            - if linked_in = @profile["LinkedIn"]
              |
              %a{href:"#{linked_in}"}= linked_in.sub(%r{.*(/in.*)/?},"\1")
            - if phone = @profile["Phone"]
              |
              %a{href:"tel:+1#{phone}"}= phone.sub(/(\d{3})(\d{3})(\d{4})/,"\1.\2.\3")

    %hr
    %section
      %h2.section-title Summary
      %p= @profile["Summary"]

    %hr
    %section
      %h2.section-title 
        Experience
        - if !@options.show_projects
          %small (see LinkedIn for complete history - including projects)
      - for row in @experience_rows
        %h3 
          = row["Title"]
          at
          = row["Company Name"]
        %p.dates
          = row["Started On"]
          \-
          = row["Finished On"] || "Present"
        %p= row["Description"]

    - if @options.show_projects
      %hr
      %section
        %h2.section-title Projects
        - for row in @project_rows
          %h3 
            = row["Title"]
          %p.dates
            = row["Start Date"]
            - if row["End Date"]
              \-
              = row["End Date"]
          %p= row["Description"]
          - if row["URL"]
            %p 
              URL: 
              = row["URL"]

    %hr
    %section
      %h2.section-title Education
      - for row in @education_rows
        %h3 
          = row["School Name"]
        %p
          - if row["Degree Name"]
            = "#{row["Degree Name"]}, "
          = row["Start Date"]
          \-
          = "#{row["End Date"]}, "
          - if row["GPA"]
            = row["GPA"]

  - if @options.show_recommendations
    %hr
    %section
      %h2.section-title Recommendations
      - @recommendations_hash.each do |company, rows|
        %h3 
          = company
        - for row in rows
          %h3
            = row["First Name"]
            = row["Last Name"]
          %p
            = row["Text"].gsub(/’/,"'")
